<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Patients</title>
    <style>
        body {
            height: 100vh;
            background: -webkit-repeating-linear-gradient(-45deg, #71b7e6, #69a6ce, #b98acc, #ee8176, #b98acc, #69a6ce, #9b59b6);
            background-size: 100%;
        }
    </style>
</head>
<body class="container-fluid">
  
<div style="padding-top: 5%;">
  <h1 class="text-center">About Us</h1>
  <hr>
  <br><br>
  <div>
    <h3 class="text-center">INDRIYA</h3>
    <p style="padding-left: 14.25%; padding-right: 14.25%;">
      Indriya is a website that offers a blockchain-based organ donation and transplantation system. The goal of Indriya is to improve the efficiency and transparency of the organ transplant
      process by using blockchain technology.  The website also provides a platform for hospitals and other medical organizations to list available organs and connect with potential recipients.
       By using a decentralized and secure platform, Indriya aims to streamline the organ transplant process and ensure that organs are allocated in a fair and efficient manner.
    </p>
    <br><br><br>
  </div>
  <div>
    <h3 class="text-center">Team</h3>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h4 class="text-center">SATYAJIT GHOSH</h4>
          <p>a computer science enthusiast who has done research in the field of Legal NLP and published research papers at top conferences and is currently working with Blockchain technology.
           He is passionate about building both mobile and web applications and loves to explore the latest developments in the field of computer science. 
           In addition to his work, Satyajit enjoys sharing his knowledge and expertise with others through the publication of technical articles and videos on 
           YouTube. He explains complex technical concepts in an easy-to-understand manner. Satyajit is a dedicated and hardworking individual who always strives 
           to push the boundaries of technology and contribute to the field in meaningful ways.</p>
        </div>
        <div class="col-sm">
         <h4 class="text-center">MOUSUMI DUTTA</h4>
          <p>It's Mousumi Dutta, that's me. She is in her final year of study for the Bachelor of Computer Applications at Adams University. She is a motivated and independent student.
             She works hard to finish all of her work on time and is very reliable. Due to her intense passion for technology and dedication to her studies, 
             she has a strong desire to begin her career and make a significant contribution to the industry. She is extremely passionate about creating websites. 
             She is currently using a learning management system to meet the requirements of her university.</p>
       </div>
        <div class="col-sm">
          <h4 class="text-center">PARICHOY NANDI</h4>
          <p>A Technology Fervent, interested in gathering knowledge about new technological developments and passionate about coding currently working as an Intern @ ADAMAS TECH CONSULTING.
          other than that, have been working in a Learning Management System. Excited to work and learn new technologies in the fast growing industry and to grow along. Apart from this,
          have an interestin playing games as well as creating them so, aiming to accompalish and publish a game in future.Being a hardworking person and believing in the 
          concept of "Fast-Mover" trying every bit to establish in this industry.
          </p>
      </div>
    </div>
  </div>
  </div>
</div>
<br><br>
</body>
<footer class="text-center fs-5 bg-white text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fs-4">
            <i class="fas fa-gem me-3 text-secondary"></i>Indriya
          </h6>
          <p>
            "Connecting people to Save life"<br> We connect the organ doners and patients. In order to save lives and making a helpful ecosystem.
          </p>
        </div>

        
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          
          <h6 class="text-uppercase fs-4">Contact</h6>
          <p><i class="fas fa-home me-3 text-secondary"></i> Adamas University,Kolkata</p>
          <p>
            <i class="fas fa-envelope me-3 text-secondary"></i>
            xyz@abc.com
          </p>
          <p><i class="fas fa-phone me-3 text-secondary"></i> +91 1234567890</p>
          <p><i class="fas fa-print me-3 text-secondary"></i> +91 1234567890</p>
        </div>

      </div>
     
    </div>
  </section>
  

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2022-23 Copyright:<br>
    <a class="text-reset fw-bold"> Satyajit Ghosh <br> Mousumi Dutta <br> Aditya Jaman <br> Parichoy Nandi</a>
  </div>

</footer>
</html>